1 VERSIONINFO
FILEVERSION     31,2,0,0
PRODUCTVERSION  31,2,0,0
FILEFLAGSMASK   0x3FL
FILEFLAGS       0x0L
FILEOS          0x4L
FILETYPE        0x2L
FILESUBTYPE     0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "CEF Python"
            VALUE "FileDescription", "CEF Python DLL"
            VALUE "FileVersion", "31.2.0.0"
            VALUE "InternalName", "cefpython"
            VALUE "LegalCopyright", "(c) 2012-2014 The CEF Python authors"
            VALUE "LegalTrademarks", ""
            VALUE "OriginalFilename", "cefpython_py27.pyd"
            VALUE "ProductName", "CEF Python 3"
            VALUE "ProductVersion", "31.2.0.0"
            VALUE "Comments", "Licensed under BSD 3-clause license"
            VALUE "Aditional Notes", ""
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
